<% if errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.label :commentator_id %>
   <%= f.select :commentator_id, class: 'custom-select' do %>
    <% locals[:commentators].each do |commentator| %>
      <%= content_tag(:option, commentator.name, value: commentator.id) %>
    <% end %>
  <% end %>
  <br/>

  <%= f.label :content %>
  <%= f.text_area :content, size: '24x6', class: 'form-control' %>
  <br/>

  <%= f.hidden_field(:post_id, value: locals[:post_id]) %>

  <%= f.submit class: 'btn btn-primary col-md-2 offset-md-10' %> 
<% end %>