<% if @author.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- form_for allows to work with an object -->
<!-- remote: true - enable ajax asynchronous -->
<%= form_for @author, remote: true, html: { class: 'new-author' } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>

  <%= f.label :surname %>
  <%= f.text_field :surname %>
  <br/>

  <%= f.label :age %>
  <%= f.number_field :age %>
  <br/>

  <%= f.submit 'Save' %>
<% end %>