- if @author.errors.any?
  .error_explanation.alert.alert-danger
    %ul
      - @author.errors.full_messages.each do |msg|
        %li
          = msg

= form_for @author, remote: true, html: { class: 'new-author' } do |f|
  = f.label :name
  = f.text_field :name, class: 'form-control'

  = f.label :surname
  = f.text_field :surname, class: 'form-control'

  = f.label :age
  = f.number_field :age, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-primary'