<div class="jumbotron text-center">
  <h1><%= @author.full_name %></h1>
</div>

<div class="container authors-info">
<p>
  <%= "Aged: #{@author.age}" %>
  Created at: <%= @author.created_at %>
  Updated at: <%= @author.updated_at %>
</p>
</div>

<div class="container">
<% if @posts.any? %>
  <h2 class="authors-postHeading">Posts</h2>
    <% @posts.each do |post| %>
      <div class="row authors-post">
        <div class="col-md-2"><%= post.title %></div>
        <div class="col-md-9"><%= post.content %></div>
        <div class="col-md-1"><%= link_to 'Show', post_path(post.id), role: 'button', class: 'btn btn-primary' %></div>
      </div>
    <% end %>
<% end %>
<hr/>
</div>

<div class="container">
  <%= link_to 'Back', authors_path, role: 'button', class: 'btn btn-primary' %>
</div>