- content_for :title, 'Blog | Author - Show'

.jumbotron.text-center
  %h1
    = @author.full_name

.container.authors-info
  %p
    Aged: #{@author.age}
    %br
    Created at:
    = @author.created_at
    %br
    Updated at:
    = @author.updated_at

.container.authors-posts
  - if @posts.any?
    %h2.authors-postHeading Posts
    - @posts.each do |post|
      .authors-post.row
        .col-md-2
          = post.title
        .col-md-9
          = post.content
        .col-md-1
          = link_to 'Show', post_path(post.id), role: 'button', class: 'btn btn-primary'

.container
  = link_to 'Back', authors_path, role: 'button', class: 'btn btn-primary'
