.container
  .passwords.row
    .col-md-6.offset-md-3
      %h2.passwords-header
        Forgotten your password?
      .passwords-form
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!

          .passwords-field
            = f.label :email, class: 'passwords-label'
            = f.email_field :email, autofocus: true, placeholder: 'example@example.com',
             autocomplete: 'email', class: 'form-control'

          .actions
            = f.submit 'Send me reset password instructions', class: 'btn btn-primary btn-block'

      = link_to 'Back', root_url, class: 'btn btn-primary'
