<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><%= link_to 'Edit', edit_post_path(@post.id) %></p>

<h2>Author info:</h2>
<p>
  <%= link_to @post.author.full_name, author_path(@post.author_id) %>
</p>
<hr/>
<% if @post.comments.any? %>
  <h2>Comment section</h2>
  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Comment</th>
      </tr>
    </thead>
    <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.commentator.name %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Delete', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<hr/>

<h3>Add comment</h3>
<%= render 'comments/form', object: @comment, locals: { post_id: @post.id, commentators: @commentators } %>
<hr/>
<%= link_to 'Back', posts_path %>