<div class="jumbotron text-center">
  <h1><%= @post.title %></h1>
</div>
<div class="container post">
  <div class="post-content">
      <p><%= @post.content %></p>
        ~ <%= link_to @post.author.full_name, author_path(@post.author_id) %>
    <div class="row">
        <%= link_to 'Edit', edit_post_path(@post.id), role: 'button', class: 'post-btn-edit btn btn-primary col-md-2 offset-md-10' %>
    </div>
  </div>
</div>


<% if @post.comments.any? %>
  <div class="container commentSection">
    <h3>Comment section</h3>
    <div class="row commentSection-headings">
      <div class="col-md-2">Author</div>
      <div class="col-md-10">Comment</div>
  </div>
  <% @post.comments.each do |comment| %>
    <div class="row">
      <div class="col-md-2"><%= comment.commentator.name %></div>
      <div class="col-md-9"><%= comment.content %></div>
      <div class="col-md-1"><%= link_to 'Delete', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' }, role: 'button', class: 'btn btn-danger' %></div>
    </div>
  <% end %>
  </div>
<% end %>
<div class="container">
  <div class="commentSection-add">
    <h3>Add comment</h3>
    <%= render 'comments/form', object: @comment, errors: @comment_errors, locals: { post_id: @post.id, commentators: @commentators } %>
    <hr/>
  </div>
</div>
<%= link_to 'Back', posts_path %>