<!--
  Dodać navbar na podstawie tego
  Zmienić formy, żeby używały bootstrapa
  Kombinować z modalami jako popup do delete'a

  HAML - silnik templatowy - pisanie htmla z użyciem railsów
  gem 
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to root_path, class: 'nav-link' do %>
          Home <%= content_tag(:span, '(current)', class: 'sr-only') %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Authors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Author.all.each do |author| %>
            <%= link_to author.full_name, author_path(author.id), class: 'dropdown-item' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Index', authors_path, class: 'dropdown-item' %>
          <%= link_to 'New', new_author_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Posts', posts_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Commantators', commentators_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>