%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to 'Blog', root_path, class: 'navbar-brand navbarLogo'
  %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarSupportedContent',
   'aria-controls': 'navbarSupportedContent', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to root_path, class: 'nav-link' do
          Home
          = content_tag(:span, '(current)', class: 'sr-only')
      - if user_signed_in?
        %li.nav-item.dropdown.active
          %a.nav-link.dropdown-toggle#navbarDropdown{ role: 'button', 'data-toggle': 'dropdown',
           'aria-hashpopup': 'true', 'aria-expanded': 'false' }
            Settings
          .dropdown-menu{ 'aria-labelledby': 'navbarDropdown' }
            = link_to 'Account', edit_user_registration_path, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
