%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to 'Blog', root_path, class: 'navbar-brand navbarLogo'
  %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarSupportedContent',
   'aria-controls': 'navbarSupportedContent', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to root_path, class: 'nav-link' do
          Home
          = content_tag(:span, '(current)', class: 'sr-only')
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle#navbarDropdown{ href: '#', role: 'button', 'data-toggle': 'dropdown',
         'aria-hashpopup': true, 'aria-expanded': 'false' }
          Authors
        .dropdown-menu{ 'aria-labelledby': 'navbarDropdown' }
          - Author.all.each do |author|
            = link_to author.full_name, author_path(author.id), class: 'dropdown-item', 'data-author-id': author.id
          .dropdown-divider
          = link_to 'Index', authors_path, class: 'dropdown-item'
          = link_to 'New', new_author_path, class: 'dropdown-item'
      %li.nav-item
        = link_to 'Posts', posts_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Commentators', commentators_path, class: 'nav-link'
